* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

img {
    border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address {
    margin-top: 0px;
    margin-bottom: 0px;
}

@font-face {
    font-family: source_reg;
    src: url(../fonts/SourceSansProRegular.ttf);
}
body{
    font-family: source_reg;
}


/*main css start now*/

.wrapper {
    background: url(../images/3d_1920_1080.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 768px;
    width: 1366px;
    position: relative;
    margin: 0 auto;
}

.wrapper .block {
    height: 70px;
    width: 70px;
    background: #ffffff;
}

.wrapper .block.small_block {
    height: 35px;
    width: 38px;
    background: #ffffff;
}

.wrapper .block .top {
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .block .left h4 {
    color: #000000;
    font-size: 6px;
    padding: 5px 6px;
}

.wrapper .block.small_block .left h4 {
    color: #000000;
    font-size: 4px;
    padding: 2px 2px;
}

.wrapper .block .right h5 {
    color: #003e62;
    font-size: 6px;
    padding: 5px 6px;
    position: relative;
}

.wrapper .block.small_block .right h5 {
    color: #000000;
    font-size: 4px;
    padding: 2px 0px;
}

.wrapper .block .right h5::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 18px;
    background: #cccccc;
    top: 2px;
    left: 0;
}

.wrapper .block.small_block .right h5::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 8px;
    background: #cccccc;
    top: 1px;
    left: -4px;
}

.wrapper .block .middle h2 {
    font-size: 25px;
    position: relative;
    font-weight: 700;
    color: #1d608a;
    text-align: center;
}

.wrapper .block.small_block .middle h2 {
    font-size: 12px;
    position: relative;
    font-weight: 700;
    color: #1d608a;
    text-align: center;
}

.wrapper .block .middle h2 i {
    position: absolute;
    top: 5px;
    font-size: 12px;
}

.wrapper .block.small_block .middle h2 i {
    position: absolute;
    top: 3px;
    font-size: 4px;
}

.wrapper .block .middle .icons {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .block .middle .icons p {
    font-size: 10px;
    position: relative;
}

.wrapper .block.small_block .middle .icons p {
    font-size: 6px;
    position: relative;
}

.wrapper .block .middle .icons p i {
    font-size: 5px;
    position: absolute;
    top: 0;
}

.wrapper .block.small_block .middle .icons p i {
    font-size: 3px;
    position: absolute;
    top: 0;
}

.wrapper .block .middle .icons .fa-chevron-circle-up {
    margin-left: 5px;
    font-size: 7px;
}

.wrapper .block .middle .icons .fa-chevron-circle-down {
    margin-right: 3px;
    font-size: 7px;
}

.wrapper .block.step1 {
    position: absolute;
    left: 795px;
    top: 87px;
}

.wrapper .block.step2 {
    position: absolute;
    left: 256px;
    top: 103px;
}

.wrapper .block.step3 {
    position: absolute;
    left: 426px;
    top: 132px;
}

.wrapper .block.step4 {
    position: absolute;
    left: 589px;
    top: 156px;
}

.wrapper .block.step5 {
    position: absolute;
    left: 758px;
    top: 186px;
}

.wrapper .block.step6 {
    position: absolute;
    left: 928px;
    top: 214px;
}

.wrapper .block.step7 {
    position: absolute;
    left: 1092px;
    top: 241px;
}

.wrapper .block.step8 {
    position: absolute;
    left: 83px;
    top: 156px;
}

.wrapper .block.step9 {
    position: absolute;
    left: 254px;
    top: 240px;
}

.wrapper .block.step10 {
    position: absolute;
    left: 424px;
    top: 269px;
}

.wrapper .block.step11 {
    position: absolute;
    left: 590px;
    top: 297px;
}

.wrapper .block.step12 {
    position: absolute;
    left: 759px;
    top: 323px;
}

.wrapper .block.step13 {
    position: absolute;
    left: 926px;
    top: 349px;
}

.wrapper .block.step14 {
    position: absolute;
    left: 1092px;
    top: 379px;
}

.wrapper .block.step15 {
    position: absolute;
    left: 1232px;
    top: 406px;
}

.wrapper .block.step16 {
    position: absolute;
    left: 273px;
    top: 380px;
}

.wrapper .block.step17 {
    position: absolute;
    left: 478px;
    top: 411px;
}

.wrapper .block.step18 {
    position: absolute;
    left: 669px;
    top: 445px;
}

.wrapper .block.step19 {
    position: absolute;
    left: 862px;
    top: 478px;
}

.wrapper .block.step20 {
	position: absolute;
	left: 1059px;
	top: 507px;
}

.wrapper .block.step21 {
    position: absolute;
    left: 6px;
    top: 429px;
}

.wrapper .block.step22 {
    position: absolute;
    left: 258px;
    top: 583px;
}

.wrapper .block.step23 {
    position: absolute;
    left: 821px;
    top: 571px;
}

.wrapper .block.step24 {
    position: absolute;
    left: 1042px;
    top: 710px;
}